* {
    margin: 0;
    padding: 0;
}

.header-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}