{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Calendar App</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <link rel="stylesheet" href="{% static 'appointment.css' %}">
</head>
<body>
    <header id="title">
        <h1>Web-Kalender</h1>
    </header>
    <main id="content">
        {% block content %}
        {% endblock %}
    </main>
    <footer id="footer">
        <div id="school-links-container">
            <a href="https://schueler.bulme.at/" class="school-link">Schüler Webmail</a>
            <a href="https://urania.webuntis.com/WebUntis/?school=bulme#/basic/login" class="school-link">WebUntis</a>
        </div>
    </footer>
</body>
</html>