{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Calendar App</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <link rel="stylesheet" href="{% static 'appointment.css' %}">
    <link rel="stylesheet" href="{% static 'login.css' %}">
</head>
<body>
<input type="checkbox" class="toggle-sidenavbar-input">
    <div class="toggle">
        <div class="top_line common"></div>
        <div class="middle_line common"></div>
        <div class="bottom_line common"></div>
    </div>
    <div class="sidenavbar">
        <div id="appointments">
            <div id="appointments-list">

            </div>
            <div id="appointments-buttons">
                <a href="{%  url 'appointment-create' %}" class="appointment-button button" id="appointment-add">+</a>
                <a class="appointment-button button" id="appointment-edit">#</a>
                <a class="appointment-button button" id="appointment-delete">-</a>
            </div>
        </div>
    </div>
    <header id="title">
        <h1>Web-Calendar</h1>
    </header>
    <div id="login-out-container">
        {% if user.is_authenticated %}
            <a href="{% url 'logout' %}" class="login-out">Logout</a>
        {% else %}
            <a href="{% url 'login' %}" class="login-out">Login</a>
        {% endif %}
    </div>
    <main id="content">
        {% block content %}
        {% endblock %}
    </main>
    <footer id="footer">
        <div id="school-links-container" translate="no">
            <a href="https://schueler.bulme.at/" class="school-link">Schüler Webmail</a>
            <a href="https://urania.webuntis.com/WebUntis/?school=bulme#/basic/login" class="school-link">WebUntis</a>
            <a href="https://login.microsoftonline.com/common/oauth2/v2.0/authorize?client_id=10b93a39-ac0f-471c-94d9-b770f26053af&response_type=code&redirect_uri=https%3A%2F%2Fwww.eduvidual.at%2Fadmin%2Foauth2callback.php&state=%2Fauth%2Foauth2%2Flogin.php%3Fwantsurl%3Dhttps%253A%252F%252Fwww.eduvidual.at%252F%26sesskey%3DibW9Iv4vQf%26id%3D1&scope=openid%20profile%20email%20user.read&prompt=select_account&sso_reload=true" class="school-link">Eduvidual</a>
            <a href="https://digi4school.at/" class="school-link">Digi4School</a>
            <a href="https://www.bulme.at/index.php/schule/lehrkoerper/lehrerinn" class="school-link">Teacher</a>
        </div>
    </footer>
</body>
</html>