{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div id="calendar">
        <div id="calendar-month">
            <div id="month-container">
                <h2 id="month"></h2>
            </div>
        </div>
        <div id="calendar-week">
            <div class="week-day"><h3>Mo</h3></div>
            <div class="week-day"><h3>Tu</h3></div>
            <div class="week-day"><h3>We</h3></div>
            <div class="week-day"><h3>Th</h3></div>
            <div class="week-day"><h3>Fr</h3></div>
            <div class="week-day"><h3>Sa</h3></div>
            <div class="week-day"><h3>Su</h3></div>
        </div>
        <main id="calendar-main">
            <div class="calendar-week">
                <button class="calendar-day-button button">1</button>
                <button class="calendar-day-button button">2</button>
                <button class="calendar-day-button button">3</button>
                <button class="calendar-day-button button">4</button>
                <button class="calendar-day-button button">5</button>
                <button class="calendar-day-button button">6</button>
                <button class="calendar-day-button button">7</button>
            </div>
            <div class="calendar-week">
                <button class="calendar-day-button button">8</button>
                <button class="calendar-day-button button">9</button>
                <button class="calendar-day-button button">10</button>
                <button class="calendar-day-button button">11</button>
                <button class="calendar-day-button button">12</button>
                <button class="calendar-day-button button">13</button>
                <button class="calendar-day-button button">14</button>
            </div>
            <div class="calendar-week">
                <button class="calendar-day-button button">15</button>
                <button class="calendar-day-button button">16</button>
                <button class="calendar-day-button button">17</button>
                <button class="calendar-day-button button">18</button>
                <button class="calendar-day-button button">19</button>
                <button class="calendar-day-button button">20</button>
                <button class="calendar-day-button button">21</button>
            </div>
            <div class="calendar-week">
                <button class="calendar-day-button button">22</button>
                <button class="calendar-day-button button">23</button>
                <button class="calendar-day-button button">24</button>
                <button class="calendar-day-button button">25</button>
                <button class="calendar-day-button button">26</button>
                <button class="calendar-day-button button">27</button>
                <button class="calendar-day-button button">28</button>
            </div>
            <div class="calendar-week">
                <button class="calendar-day-button button">29</button>
                <button class="calendar-day-button button">30</button>
                <button class="calendar-day-button button">31</button>
                <button class="calendar-day-button button"></button>
                <button class="calendar-day-button button"></button>
                <button class="calendar-day-button button"></button>
                <button class="calendar-day-button button"></button>
            </div>
        </main>
    </div>

    <script src="{% static 'js/calendar.js' %}"></script>
{% endblock %}