{% extends 'base.html' %}
{% load static %}

{% block content %}



    <div id="calendar">
        <div id="calendar-month">
            <div id="month-container">
                <h2 id="month"></h2>
            </div>
        </div>
        <div id="calendar-week" translate="no">
            <div class="week-day"><h3>Mo</h3></div>
            <div class="week-day"><h3>Tu</h3></div>
            <div class="week-day"><h3>We</h3></div>
            <div class="week-day"><h3>Th</h3></div>
            <div class="week-day"><h3>Fr</h3></div>
            <div class="week-day"><h3>Sa</h3></div>
            <div class="week-day"><h3>Su</h3></div>
        </div>
        <main id="calendar-main">
        </main>
    </div>

    <script src="{% static 'js/calendar.js' %}"></script>
{% endblock %}