{% extends 'base.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'signup.css' %}">
    <title>Sign up on ?</title>
{% endblock %}

{% block content %}
    <div class="login-box">
        <form method="post">
            {% csrf_token %}
            <div id="title-div">
                <label id="title-label">Create account</label>
            </div>


            <div class="input-div">
                <label class="input-label" for="username">Username</label>
                {{ form.username }}
            </div>
                {% if form.errors.username %}
                    <p id="username-error">{{ form.errors.username.0 }}</p>
                {% endif %}


            <div class="input-div">
                <label class="input-label" for="username">First Name</label>
                {{ form.first_name }}
            </div>
            <div class="input-div">
                <label class="input-label" for="username">Last Name</label>
                {{ form.last_name }}
            </div>
            <div class="input-div">
                <label class="input-label" for="username">Email</label>
                {{ form.email }}
            </div>
            <div class="input-div">
                <label class="input-label" for="username">Password</label>
                {{ form.password }}
            <div class="pw-req">
                <p id="password-requirements">Your password must contain:</p>
                <ul id="password-requirements-list">
                    {% for error in form.error_messages %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            </div>
            </div>
            <div class="input-div">
                <input class="signUpButton" type="submit" value="Sign Up" id="login-submit">
            </div>
        </form>
    </div>

{% endblock %}